@font-face {
  font-family: "Gilroy Regular";
  src: url("./Fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.875rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  font-size: 1.125rem;
  line-height: 28px;
}

body {
  font-family: "Gilroy Regular";
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  max-width: 100%;
}

.header {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.header_logo {
  cursor: pointer;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav a {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.100962px;
  margin: 0 3rem;
  color: #333333;
  -webkit-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

.header_nav a:hover {
  color: #c8720f;
}

.header_btn {
  border: 2px solid #333333;
  border-radius: 5px;
  padding: 12px 40px;
  background: #fff;
  -webkit-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

.header_btn:hover {
  color: #fff;
  background: #3454f5;
}

.top_main {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 720px;
}

.top_main h1 {
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 647px;
  width: 100%;
  margin-bottom: 1rem;
}

.top_main p {
  max-width: 565px;
  width: 100%;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.top_main .btn-order {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 24px 80px;
  background: #3454f5;
  border-radius: 5px;
}

.top_main::before {
  background: url("./images/Mask Group.png") no-repeat center;
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}

.problem_section {
  margin: 6rem 0 10rem 0;
  color: #333333;
}

.problem_title p {
  margin-top: 33px;
  max-width: 485px;
  width: 100%;
}

.problems_cards {
  padding-top: 10rem;
}

.problems_cards article + article {
  margin-top: 5rem;
}

.problems_cards h4 {
  margin: 1rem 0;
  max-width: 326px;
  width: 100%;
}

.problems_cards p {
  max-width: 463px;
  width: 100%;
}

.present {
  position: relative;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 9.6rem;
}

.present p {
  max-width: 750px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 61px;
  line-height: 48px;
}

.present::before {
  background: url("./images/bg-present.jpg") no-repeat center;
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}

.opportunities {
  margin-bottom: 10rem;
  color: #333333;
}

.opportunities_card:first-of-type {
  margin-top: 50px;
}

.opportunities_card + .opportunities_card {
  margin-top: 8.75rem;
}

.opportunities_card .logo_block_oppo {
  height: 477px;
  max-width: 440px;
  width: 100%;
  background: #fff;
  border: 5px solid #3a3a3a;
  border-radius: 20px;
  -webkit-box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opportunities_card article {
  max-width: 480px;
  width: 100%;
}

.opportunities_card article ul {
  padding: 0;
  font-size: 1.2rem;
}

.opportunities_card article li:last-of-type {
  color: #e46868;
}

.opportunities_card article li::before {
  margin-right: 1rem;
  content: "+";
  color: #3454f5;
}

.opportunities_card article li:last-of-type:before {
  margin-right: 1rem;
  color: #e46868;
  content: "-";
}

.order_container {
  background: #eff7ff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin-bottom: 8rem;
  padding: 2.6rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_container .order_field {
  max-width: 620px;
  width: 100%;
}

.order_container .order_field h3 {
  line-height: 40px;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 70px 70px;
      grid-template-rows: 70px 70px;
      grid-template-areas: "name tel" "btn spn";
  grid-gap: 1.25rem;
  margin-top: 4rem;
}

.form input[type="text"] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  max-width: 287px;
  width: 100%;
  padding: 0.8rem 0 0.8rem 1.4rem;
}

.form input[type="text"]::-webkit-input-placeholder {
  color: #999999;
}

.form input[type="text"]:-ms-input-placeholder {
  color: #999999;
}

.form input[type="text"]::-ms-input-placeholder {
  color: #999999;
}

.form input[type="text"]::placeholder {
  color: #999999;
}

.form input[type="tel"] {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tel;
  max-width: 294px;
  width: 100%;
  padding: 0.8rem 0 0.8rem 1.4rem;
}

.form input[type="tel"]::-webkit-input-placeholder {
  color: #999999;
}

.form input[type="tel"]:-ms-input-placeholder {
  color: #999999;
}

.form input[type="tel"]::-ms-input-placeholder {
  color: #999999;
}

.form input[type="tel"]::placeholder {
  color: #999999;
}

.form input[type="submit"] {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn;
  max-width: 287px;
  width: 100%;
  background: #3454f5;
  border-radius: 5px;
  padding: 0.7rem 2.5rem;
  color: #fff;
}

.form span {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: spn;
  max-width: 257px;
  width: 100%;
  color: #999999;
  font-size: 0.8rem;
  line-height: 24px;
}

.tech_section {
  color: #333333;
  position: relative;
  padding: 5rem 0;
}

.tech_section::before {
  background: #eff7ff;
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}

.tech_section h2 {
  margin-bottom: 3rem;
}

.tech_section .tech_steck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech_section .tech_steck img {
  padding: 0;
}

.tech_section .tech_steck img + img {
  padding-left: 15px;
}

.cases_section {
  padding: 10rem 0;
}

.cases_section .case_card .case_img {
  position: relative;
}

.cases_section .case_card .case_img .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  background-color: rgba(52, 84, 245, 0.7);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cases_section .case_card .case_img .overlay h5 {
  font-size: 1.2rem;
}

.cases_section .case_card .case_img .overlay a {
  color: #fff;
  margin-bottom: 1rem;
}

.cases_section .case_card .case_img .overlay a span {
  font-size: 2rem;
  color: #fff;
}

.cases_section .case_card + .case_card {
  margin-top: 3rem;
}

.cases_section .case_img:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cases_section .number {
  background: #eff7ff;
  color: #3454f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96px;
  height: 56px;
  font-size: 1.2rem;
}

.cases_section .miniLogo {
  margin-top: 2rem;
}

.price_section {
  position: relative;
  padding: 5rem 0;
}

.price_section::before {
  background: #3454f5;
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}

.price_section h2 {
  color: #fff;
  line-height: 1.1rem;
}

.price_section span {
  color: #fff;
  font-size: 0.9rem;
  line-height: 24px;
}

.price_section .price_block {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.price_section .price_block span {
  font-size: 1.1rem;
  line-height: 28px;
}

.price_section .price_block .price_box {
  margin-left: 2.5rem;
  margin-right: 1rem;
  background: #fff;
  padding: 10px 32px;
  color: #333333;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.price_form {
  margin-bottom: 1rem;
}

.input_box input {
  max-width: 300px;
  width: 100%;
  height: 72px;
}

.input_box input[type="tel"],
.input_box input[type="text"] {
  background: #fff;
  border: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.25rem;
  line-height: 1.8rem;
  color: #333333;
  border-radius: 5px;
}

.input_box input[type="submit"] {
  border: none;
  padding: 0.8rem 2rem;
  background: #ffe818;
  border-radius: 5px;
  color: #333333;
}

.workers {
  padding: 8rem 0;
}

.workers h2 {
  margin-bottom: 3rem;
}

.workers .workers_img {
  padding: 0;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.workers .juniors {
  max-width: 457px;
  width: 100%;
}

.workers .anton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workers .anton span {
  margin-left: 2rem;
}

.design_section {
  padding: 4rem 0;
}

.design_section h2 {
  margin-bottom: 1.2rem;
}

.design_section p {
  margin-bottom: 3rem;
}

.design_section .badges {
  position: relative;
  background: #eff7ff;
  height: 460px;
  padding: 2rem;
}

.design_section .badges h5 {
  line-height: 28px;
}

.design_section .badges .badge {
  font-size: 0.75rem;
  line-height: 16px;
  color: #333333;
  background: #fff;
  padding: 4px 8px;
  margin: 0 0.5rem 0.5rem 0;
}

.design_section .badges .design_img,
.design_section .badges .arrow_badge {
  position: absolute;
  bottom: 0;
}

.design_section .badges .design_img {
  right: 0;
}

.design_section .badges .arrow_badge {
  padding: 1rem 1.9rem;
  background: #3454f5;
  color: #fff;
  left: 0;
  font-size: 2rem;
}

.footer {
  position: relative;
  color: #fff;
  padding: 5rem;
}

.footer:before {
  background: #2e3646;
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}

.footer img {
  margin-bottom: 4.5rem;
}

.footer a {
  color: #fff;
  -webkit-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

.footer .works > *:hover,
.footer .contact > *:hover {
  color: #c8720f;
}

.footer .contact > *:not(last-of-type),
.footer .places > *:not(last-of-type),
.footer .works > *:not(last-of-type) {
  margin-bottom: 0.8rem;
}

.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.works,
.places,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social a + a {
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */